openapi: "3.0.0"
info:
  description: "Aktuelle Wetterdaten von allen Deutschen Wetterstationen"
  version: "1.0.0"
  title: "Deutscher Wetterdienst: API"

servers:
  - url: 'https://app-prod-ws.warnwetter.de/v30/'

paths:
  /stationOverviewExtended:
    get:
      description: Query für eine oder mehrere Wetterstationen
      summary: Wetterstation Daten
      parameters:
        - name: stationIds
          in: query
          style: form
          description: "StationsIDs könen z.B. [hier](https://www.dwd.de/DE/leistungen/klimadatendeutschland/stationsliste.html) eingesehen werden"
          explode: false
          schema:
            type: array
            items:
              oneOf:
                - type: string
                - type: integer
          example: [10865, G005]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationOverview'
      servers:
        - url: 'https://app-prod-ws.warnwetter.de/v30/'

  /crowd_meldungen_overview_v2.json:
    get:
      summary: DWD Crowdwettermeldungen
      description: Der DWD erlaubt Usern das aktuelle Wetter zu melden. In der Response befinden sich alle aktuellen Meldungen
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CROWDMeldug'
      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'


  /warnings_nowcast.json:
    get:
      summary: Nowcast Warnungen
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarningNowcast'
      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'


  /gemeinde_warnings_v2_en.json:
    get:
      summary: Gemeinde Unwetterwarnungen
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GemeindeWarnings'
      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'

  /warnings_coast_en.json:
    get:
      summary: Küsten Unwetterwarnungen
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarningCoast'
      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'


  /sea_warning_text.json:
    get:
      summary: Hochsee Unwetterwarnungen als Text
      responses:
        '200':
          description: OK
          content:
            application/text:
              schema:
                type: string

      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'



  /alpen_forecast_text_dwms.json:
    get:
      summary: Alpen Wettervorhersage als Text
      responses:
        '200':
          description: OK
          content:
            application/text:
              schema:
                type: string

      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'


  /warnings_lawine.json:
    get:
      summary: Alpen Wettervorhersage als Text
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string

      servers:
        - url: 'https://s3.eu-central-1.amazonaws.com/app-prod-static.warnwetter.de/v16/'

components:
  schemas:
    WarningNowcast:
      type: object
      properties:
        time:
          type: integer
          format: int64
        warnings:
          type: array
          items:
            type: object
            properties:
              type:
                type: integer
                format: int32
              level:
                type: integer
                format: int32
              start:
                type: integer
                format: int64
              end:
                type: integer
                format: int64
              states:
                type: array
                items:
                  type: number
              regions:
                type: array
                items:
                  type: object
                  properties:
                    polygon:
                      type: array
                      items:
                        type: number
                    triangles:
                      type: array
                      items:
                        type: integer
                        format: int32
              urls:
                type: array
                items:
                  type: string
              bn:
                type: boolean
              isVorabinfo:
                type: boolean
              instruction:
                type: string
                format: nullable
              description:
                type: string
              descriptionText:
                type: string
              event:
                type: string
              headLine:
                type: string
        binnenSee:
          type: string
          format: nullable
    StationOverview:
      type: object
      properties:
        10865:
          type: object
          properties:
            forecast1:
              type: object
              properties:
                stationId:
                  type: string
                start:
                  type: integer
                  format: int64
                timeStep:
                  type: integer
                  format: int32
                temperature:
                  type: array
                  items:
                    type: integer
                    format: int32
                temperatureStd:
                  type: array
                  items:
                    type: integer
                    format: int32
                windSpeed:
                  type: string
                  format: nullable
                windDirection:
                  type: string
                  format: nullable
                windGust:
                  type: string
                  format: nullable
                icon:
                  type: array
                  items:
                    type: integer
                    format: int32
                precipitationTotal:
                  type: array
                  items:
                    type: integer
                    format: int32
                precipitationProbablity:
                  type: string
                  format: nullable
                precipitationProbablityIndex:
                  type: string
                  format: nullable
            forecast2:
              type: object
              properties:
                stationId:
                  type: string
                start:
                  type: integer
                  format: int64
                timeStep:
                  type: integer
                  format: int32
                temperature:
                  type: array
                  items:
                    type: number
                temperatureStd:
                  type: array
                  items:
                    type: number
                windSpeed:
                  type: string
                  format: nullable
                windDirection:
                  type: string
                  format: nullable
                windGust:
                  type: string
                  format: nullable
                icon:
                  type: array
                  items:
                    type: integer
                    format: int32
                precipitationTotal:
                  type: array
                  items:
                    type: integer
                    format: int32
                precipitationProbablity:
                  type: string
                  format: nullable
                precipitationProbablityIndex:
                  type: string
                  format: nullable
            forecastStart:
              type: string
              format: nullable
            days:
              type: array
              items:
                type: object
                properties:
                  stationId:
                    type: string
                    format: nullable
                  dayDate:
                    type: string
                    format: date
                  temperatureMin:
                    type: integer
                    format: int32
                  temperatureMax:
                    type: integer
                    format: int32
                  icon:
                    type: integer
                    format: int32
                  icon1:
                    type: string
                    format: nullable
                  icon2:
                    type: string
                    format: nullable
                  precipitation:
                    type: integer
                    format: int32
                  windSpeed:
                    type: integer
                    format: int32
                  windGust:
                    type: integer
                    format: int32
                  windDirection:
                    type: integer
                    format: int32
                  sunshine:
                    type: integer
                    format: int32
            warnings:
              type: array
              items:
                type: object
            threeHourSummaries:
              type: string
              format: nullable

    CROWDMeldug:
      type: object
      properties:
        start:
          type: integer
          format: int64
        end:
          type: integer
          format: int64
        highestSeverities:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              auspraegung:
                type: string
        meldungen:
          type: array
          items:
            type: object
            properties:
              meldungId:
                type: integer
                format: int32
              timestamp:
                type: integer
                format: int64
              lat:
                type: string
              lon:
                type: string
              place:
                type: string
              category:
                type: string
              auspraegung:
                type: string
              zusatzAttribute:
                type: array
                items:
                  type: object
    GemeindeWarnings:
      type: object
      properties:
        time:
          type: integer
          format: int64
        warnings:
          type: array
          items:
            type: object
            properties:
              type:
                type: integer
                format: int32
              level:
                type: integer
                format: int32
              start:
                type: integer
                format: int64
              end:
                type: integer
                format: int64
              regions:
                type: array
                items:
                  type: object
                  properties:
                    polygon:
                      type: array
                      items:
                        type: number
                    triangles:
                      type: array
                      items:
                        type: integer
                        format: int32
              urls:
                type: array
                items:
                  type:
                    object
              bn:
                type: boolean
              isVorabinfo:
                type: boolean
              description:
                type: string
              descriptionText:
                type: string
              event:
                type: string
              headLine:
                type: string
        binnenSee:
          type: object
          properties:
            209901000:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: integer
                    format: int32
                  level:
                    type: integer
                    format: int32
                  start:
                    type: integer
                    format: int64
                  bn:
                    type: boolean
                  instruction:
                    type: string
                  description:
                    type: string
                  descriptionText:
                    type: string
                  event:
                    type: string
                  headline:
                    type: string

    WarningCoast:
      type: object
      properties:
        time:
          type: integer
          format: int64
        warnings:
          type: object
          properties:
            501000007:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: integer
                    format: int32
                  level:
                    type: integer
                    format: int32
                  bn:
                    type: boolean
                  instruction:
                    type: string
                  description:
                    type: string
                  descriptionText:
                    type: string
                  event:
                    type: string
                  headline:
                    type: string
        vorabInformation:
          type: object
          properties:


externalDocs:
  description: "Ausführlichere Dokumentation"
  url: "https://listed.to/@DieSieben/7851/api-des-deutschen-wetterdienstes"

